name: Run every 3 hours and post assigned tasks in Discord

on:
    push:
        branches: [main]
    schedule:
        - cron: "0 */3 * * *"

jobs:
    post:
        runs-on: ubuntu-latest
        steps:
            - name: Check out source code
              uses: actions/checkout@v2

            - name: Set up Python 3.9
              uses: actions/setup-python@v2
              with:
                  python-version: 3.9

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

            - name: Import credentials as environmental variables and run the script
              run: python vu.py
              env:
                  VUSERNAME: ${{ secrets.VUSERNAME }}
                  VPASSWORD: ${{ secrets.VPASSWORD }}
                  WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
